<h1>I&rsquo;m Nadav Spiegelman</h1>
<h2>and this is my website.</h2>

<article>
    <h3>Mission Statement</h3>
    <time>October 4, 2014</time>

    <p>This website is for me. It&rsquo;s my place on the web to exercise my creative freedom, even (or perhaps especially) when it seems self-indulgent or geeky or pointless. When I decided to redesign this website, I wanted it to be a truer reflection of who I am. My motivation for keeping a home for myself on the web is partly as an exercise in vulnerability and transparency: to keep a public record of who I am and who I become as it happens.</p>
    <p>With that in mind, the idea of a static declaration of who I am seems silly, and inept. Any pithy &ldquo;job title&rdquo; description of myself would quickly become outdated. Instead, I hope to keep this section as a running document of a more personal, biographical nature than the <a href="/writing">Writing</a> section. This is new territory for me and more than a bit discomforting, which I take as a good sign.

</article>

    <hr>

<article>
    <h3>Risk</h3>
    <time>October 4, 2014</time>

    <p>In High School, I fell in love with Jazz and found my voice in a big awkward instrument that I affectionately refer to as the six foot violin. Fortunate to have good teachers and an obsessive temperament, I picked it up pretty quickly and was playing around Atlanta professionally by my last year of High School.</p>

    <p>I hadn&rsquo;t thought about becoming a professional musician until High School, but in 2007 I put my identity as a computer geek on hold and went to Florida State University to study music. In Tallahassee, I found a community of peers with the same unsatiable drive that I had for Jazz music. In 2011 I moved back to Atlanta with a music degree and two equally impractical minors (philosophy and religion) that I thoroughly enjoyed getting.</p>

    <p>In Atlanta, I played music and worked part time for a <a href="http://liberator.com">sex cushion manufacturer</a> where I dealt with giant spreadsheets and with Amazon. I was lucky to develop close musical relationships with a group of creative like-minded musicians in Atlanta, but it got stale.</p>

    <p>I began to wonder what being a Jazz musician means in the twenty first century. If it means playing the same $100 background music gigs for the of my life, then maybe it&rsquo;s not for me. I knew there was more to it, but I didn&rsquo;t think I could get to it in Atlanta.</p>

    <p>In December of 2013, sufficiently fed up with my routine in Atlanta, I took a risk. I bought a one way ticket to New York City. I brought a suitcase and $7000 in savings, and set out to find a job and a place to live.</p>

    <p>Knowing that I&rsquo;d need a good job to survive in New York, I spent the year leading up to the move reconnecting with my computer geek side and deliberately building up my skills. I fell in love with the web. It had changed a lot since I bought my first <abbr>HTML</abbr> book at age ten, and I wanted to be a part of it. I learned about responsive design, fell in love with typography on the web, had some fun with Rails, and became pretty good at <abbr>CSS</abbr> in the process.</p>

    <p>In February 2014, I took a job as a Front End Developer for <a href="http://www.somethingdigital.com">Something Digital</a>, an agency in midtown Manhattan. I get to work all kinds of projects with some great people, and I learn a lot.
</article>
