<h1>Featured Projects</h1>

<section>
    <h2>Websites</h2>
    <ul>
        <li><a href="http://caramoor.org">Caramoor Center for Music and the Arts</a> <em>(with Something Digital)</em></li>
        <li><a href="http://stresslesswithreiki.com">Stress Less With Reiki</a> <em>(design & development)</em></li>
        <li><a href="http://nickrosenkeys.com">Nick Rosen</a> <em>(design & development)</em></li>
    </ul>
</section>
<section>

    <h2>Educational Material</h2>
    <ul>
        <li>
            <a href="https://github.com/nadavspi/guide">Front End Guide</a>
        </li>
        <li>
            <a href="/sassy">Intro to Sass</a>
        </li>
    </ul>
</section>
