---
blog: reading
---

<h1>Reading List</h1>
<h2>No home is complete without a bookshelf.</h2>

<p>This is my (incomplete) online bookshelf. Its purpose is to help me remember what books I&rsquo;ve read and what I thought about them at the time, without being dependent on external services like Goodreads and Kindle Highlights.</p>

<% if page_articles %>
<section class="reading-list">
  <ol>
    <% page_articles.each_with_index do |article, i| %>
      <li>
          <% link_to article do %>
              <img class="lazyload" data-src="/reading/images/<%= article.data.cover %>" alt="<%= article.title %>">
          <% end %>
      </li>
    <% end %>
  </ol>

<% end %>
